{% extends "empresa/base.html" %}
{% load meus_filtros %}
{% block conteudo %}

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Dados de Contato</h2>
        <hr>
        <address>
          <br>{{ contato_empresa.endereco|remover_letra:"a" }}
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          {{contato_empresa.telefone}}
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">{{contato_empresa.email}}</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      {% for curso_id, curso in cursos_home.items %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            {% ifequal curso.titulo "Django Fundamentos" %}
              <h2 class="card-title">{{curso.titulo}}</h2>
            {% else %}
              <h4 class="card-title">{{curso_id}} - {{curso.titulo}}</h4>
            {% endifequal %}
            <p class="card-text">{{curso.descricao}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      {% empty %}
        <h3>Novos cursos serão lançados em breve</h3>
      {% endfor %}
    </div>
    <!-- /.row -->

{% endblock conteudo %}